<p>  You have successfully depoaited money </p><br />
Your transaction successfully completed ....  <br />
Your Balance is <%= @user.balance %> <br />
<%= link_to "Back", home_path, :class => "dropdown-toggle", :data => {:toggle=>"dropdown"} %><br /><br /><br />
</p> 
